/*=============== BASE ===============*/
*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	// margin: var(--header-height) 0 0 0 ;
	font-family: var(--primary-font);
	font-size: var(--normal-font-size);
	font-weight: 500;
	background-color: var(--body-color);
	color: var(--text-color-light-gray);
	transition: 0.5s; //For animation dark mode
}
h1 {
	font-weight: 800;
	line-height: 1.2;
}
h1,
h2,
h3,
h4 {
	color: var(--primary-color-black);
}
h2 {
	line-height: 1.2;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
}
button {
	outline: none;
	font-family: inherit;
}
