/*=============== REUSABLE CSS CLASSES ===============*/
.section {
	&__title {
		font-weight: 600;
		color: var(--primary-color-black);
	}
	&__subtitle {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 1.125;
		&::before {
			content: "";
			display: inline-block;
			margin-right: 21px;
			width: 25px;
			height: 1px;
			background: var(--primary-color-black);
		}
	}
	&__line {
		display: inline-block;
		margin: 0 0 6px 15px;
		width: 66px;
		height: 2px;
		background: var(--primary-color-black);
		&--green {
			background: var(--secondery-color-green);
		}
	}
}
/*=============== LAYOUT ===============*/
.container {
	width: 1140px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

/*=============== Rotate & hide icon ===============*/
.change-icon .nav__toggle-close {
	opacity: 1;
	transform: rotate(-180deg);
}

.change-icon .nav__toggle-menu {
	opacity: 0;
	transform: rotate(-180deg);
}

.hidden {
	display: none;
}

